<div class="modal fade" id="modalAddProduct" tabindex="-1">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title">Add Product</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>

      <div class="modal-body">

        <form id="form-add-product">

          <div class="row g-3">

            <div class="col-md-6">
              <label class="form-label">Product Name</label>
              <input type="text" class="form-control" name="name" required>
            </div>

            <div class="col-md-6">
              <label class="form-label">Category</label>
              <select
                  name="category_id"
                  id="add-category"
                  class="form-select"
                  required><option value="">Select Category</option>
                </select>

            </div>

            <div class="col-md-4">
              <label class="form-label">Price</label>
              <input type="number" class="form-control" name="price" step="0.01" required>
            </div>

            <div class="col-md-4">
              <label class="form-label">Cost</label>
              <input type="number" class="form-control" name="cost" step="0.01" required>
            </div>

            <div class="col-md-4">
              <label class="form-label">Initial Stock</label>
              <input type="number" class="form-control" name="stock" required>
            </div>

            <div class="col-md-12">
              <label class="form-label">Image</label>
              <input type="file" class="form-control" name="image">
            </div>

            <div class="col-md-12">
              <label class="form-label">Description</label>
              <textarea class="form-control" name="description" rows="3"></textarea>
            </div>

          </div>

        </form>

      </div>

      <div class="modal-footer">
        <button class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        <button class="btn btn-primary" id="btn-save-product">Save Product</button>
      </div>

    </div>
  </div>
</div>
